/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: "JustSquash";
  src: url("/fonts/JustSquash.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Composition";
  src: url("/fonts/Composition-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

